
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <!-- 
      <div class="au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-categories-menu">
        <li class="rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Flex</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Switch</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio-raw.html" class="rk-menu__link">Static</a>
        </li>
        <li class="active rk-menu__item"><a href="portfolio-masonry.html" class="rk-menu__link">Masonry</a>
        </li>
      </ul>
    </div>
    -->

    <ng-container *ngIf="loadding; else elseTemplate">
      <app-loading></app-loading>
    </ng-container>


    <ng-template #elseTemplate>
      <div class="animate__animated animate__fadeIn ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      
        <ng-container *ngIf="(projects | filter: filterBy:['titulo', 'categoria']).length > 0; else elseFilter">
          <a *ngFor="let project of projects | filter: filterBy:['titulo', 'categoria']"
            [routerLink]="['/project', project.cod]" class="rk-item ae-masonry__item">
            <img src="assets/projects/{{project.url}}.jpg" alt="">
            <div [routerLink]="['/project', project.cod]" class="item-meta">
              <h2>{{ project.titulo }}</h2>
              <p>{{ project.categoria }}</p>
            </div>
          </a>
        </ng-container>
      <ng-template #elseFilter >
        <h3>No se encontraron registros.</h3>
      </ng-template>
  
      </div>
    </ng-template>
    
</section>

